@import "tailwindcss";

@theme {
  --color-primary: #00695C;
  --color-primary-50: #e0f2f1;
  --color-primary-900: #004d40;
  --color-danger: #D32F2F;
}

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    background-color: #f8fafc;
    font-family: 'Inter', system-ui, sans-serif;
  }
}